<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Deletar Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <h2>Deletar Usuário</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="confirmacao">

        <p>Tem certeza que deseja deletar este usuário?</p>

        <p>Nome: {{ usuario[1] }}</p>

        <p>Email: {{ usuario[2] }}</p>

        <p>Senha: {{ usuario[3] }}</p>

    </div>
</body>
</html>
