<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<main>
    <h2>Lista de Usuários</h2>

    <a href="{{ url_for('index') }}" class="botao-voltar">Voltar</a>

    <a href="{{ url_for('novo_usuario') }}" class="botao-novo">
    Novo Usuário
    </a>

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
      {% endwith %}

    <table>
        <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Senha</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario[1] }}</td>
            <td>{{ usuario[2] }}</td>
            <td>{{ usuario[3] }}</td>
            <td>
            <div class="acoes">

                <a href="{{ url_for('editar_usuario', id=usuario[0]) }}" class="botao-editar">Editar</a>

                <form action="{{ url_for('delete_usuario', id=usuario[0]) }}" method="post">

                    <button type="submit" class="botao-delete">Excluir</button>

                </form>

            </div>
        </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
</main>

</body>
</html>